In [1]:
sql = """SELECT "stationCode",name,"stationAddrTw",日期,進站人數,出站人數
FROM "台鐵車站資訊" LEFT JOIN "每日各站進出站人數" ON "stationCode" = "車站代碼"
WHERE "stationAddrTw" LIKE '%臺北市%';"""

print(sql)

SELECT "stationCode",name,"stationAddrTw",日期,進站人數,出站人數
FROM "台鐵車站資訊" LEFT JOIN "每日各站進出站人數" ON "stationCode" = "車站代碼"
WHERE "stationAddrTw" LIKE '%臺北市%';

In [2]:
#建立變數
n = 5
m = 10.0
x = '5'
print(type(n))
print(type(m))
print(type(x))

print("===========")

n = 10
m = 15.0
x = '50'
print(n)
print(m)
print(x)

<class 'int'>
<class 'float'>
<class 'str'>
===========
10
15.0
50

In [3]:
#建立tuple
student1 = (87, 76, 65, 78, 92)
student1
type(student1)

tuple

In [4]:
#建立list
student2 = [87, 76, 65, 78, 92]
student2
type(student2)

#使用subscript取出元素值
student2[0]
student2[1]
student2[2]
student2[3]
student2[4]
#student2[5] # 超出索引會出錯

92

In [1]:
#建立dict(dictionary)
student3 = {'chinese':67,'english':75,'math':89,'history':87,'discovery':92} #mapping(映射資料)
type(student3)
#使用subscript取出值
student3['math']
student3['history']

87

In [2]:
#tuple的拆解法
m, n = 78, 92
m
n

92